<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Material azul para el chasis base -->
  <material name="blue">
    <color rgba="0.0 0.0 1.0 1.0"/>
  </material>

  <!-- Material rojo para el chasis superior -->
  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>

  <!-- Material gris para suspensión -->
  <material name="gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>

  <!-- Material negro para ruedas y cámara -->
  <material name="black">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>

  <!-- Material gris oscuro para LiDAR -->
  <material name="dark_gray">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>

</robot>